<footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
        <p class="small mb-2 text-white">
            &copy; {{currentYear}} DaWeb - Proyecto Compra/Venta.<br>
            Alejandro Carrión Jordán y Borja Sancho Fernández.
        </p>
        <a href="https://github.com/alexcarrionn/DaWeb-proyecto-compra-venta.git" target="_blank" class="text-secondary text-decoration-none fs-4 transition-colors hover:text-white">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>