{{!-- Pie de página reutilizable (partial).
      Muestra información del proyecto: nombre, autores y año. --}}

 <footer class="bg-gray-800 text-white text-center py-4 mt-8">                                                                                                
      <p class="text-sm">&copy; {{currentYear}} DaWeb - Proyecto Compra/Venta.
          Alejandro Carrión Jordán y Borja Sancho Fernández.
      </p>
      <a href="https://github.com/alexcarrionn/DaWeb-proyecto-compra-venta.git" target="_blank" class="text-white hover:text-gray-400 text-xl">
          <i class="fab fa-github"></i>
      </a>
  </footer>